.footer {
  background-color: #333;
  color: white;
  padding: 10px 0;  
  text-align: center;
  
  
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links,
.social-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li,
.social-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a,
.social-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover,
.social-links a:hover {
  text-decoration: underline;
}

.social-links ul {
  margin-top: 10px;  
}

.social-icon {
  font-size: 1.5em;  
  color: white;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #ff4500;  
}


.logo {
  margin-bottom: 10px;  
}

.footer-logo {
  max-width: 120px;  
  height: auto; 
}

.footer p {
  font-size: 12px;  
  margin-bottom: 5px;  
}
